@using IdentityManager.Hellper
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - IdentityManager</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/IdentityManager.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IdentityManager</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>

						@if (User.IsInRole(SD.Roles.Admin.ToString()))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles Manager</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users Manager</a>
							</li>
						}

						@* <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle">dddd</a>

						<ul class="dropdown-menu">
						<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="allAccess">All Access</a></li>
						</ul>
						</li> *@
						<li>
							<div class="dropdown">
								<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									Access Checker End points
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="allAccess">All Access</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="authorizedAccess">Authorized Access</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="adminAccess">Admin Access</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="userOrAdminAccess">User or Admin Access</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="adminAccessWithCreateClaim">Admin Access with Create Claim</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="adminAccessWithCreateEditDeleteClaims">Admin Access with Create-Edit-Delete Claims</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="userCreateEditDeleteClaimsORAdmin">UserCreateEditDeleteClaims OR Admin</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="accountsOver100Days">Accounts Over 100 Days</a></li>
									<li><a class="dropdown-item" asp-controller="AccessChecker" asp-action="adminWithMoreThan1000Days">Admin With More Than 1000 Days</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<partial name="_LoginPartialCustom" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - IdentityManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>