@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;


<ul class="navbar-nav">
	@if (_signInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link" href="#">Hello @_userManager.GetUserName(User)</a>
		</li>
		<li class="nav-item">
			<form id="logOutForm" method="post" class="form-inline" asp-controller="Account" asp-action="logout">
				<button type="submit" class="btn nav-link">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>